.file-upload{
    line-height:1.14;
}

.alert ul{
    margin-bottom:0;
}

form{
    margin-bottom:0;
}

.tab-content{
    overflow: hidden;
}

.pace .pace-activity{
    top:15px;
    right:140px;
    width:25px;
    height:25px;
}

table tr td{
    cursor:pointer;
}

.input-group-append{
    margin-left: -1px;
}

.input-group-append, .input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.address-form, .opposing-councel-form{
    height: 0;
    overflow: hidden;
    -webkit-transition: 1s;
            transition: 1s;
}

#no-cases p{
    margin-bottom:0;
    text-align: center;
}

.form-check-input{
    margin-left:0rem;
}

#context-menu{
    display: none;
    position: absolute;
    padding: 0px;
    background-color: #ddd;
    border: 0px solid #000;
}

#context-menu a {
    padding: 10px 10px;
    display: block;
    border-bottom:1px solid #c2cfd6;
}

#document-main{
    background-color:white;
}

.documents{
    padding-top: 10px;
    padding-bottom:10px;
}

.navbar-brand{
    background-image: url('../img/lgk-logo.png') !important;
    background-size: 160px auto !important;
}

.document-document{
    padding: 0 0 0px;
}

.document-document span{
    vertical-align: middle;
    cursor: pointer;
}

.document-document small{
    margin-left:10px;
}

.documents hr{
    margin: 0.5rem 0;
}

.document-document span i{
    margin-right:5px;
    vertical-align: middle;
}
.document-document i.fa-sort-down, .document-document i.fa-sort-up{
    line-height:0em;
}

.documents-content.folder-item .col-sm:nth-child(1) span{
    margin-left:2rem;
}
#document-main{
    padding-left:0;
    padding-right:0;
}
.folder-item.closed{
    height:0;
    overflow: hidden;
    margin:0 !important;
}

.folder-item.open{
    height:100%;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.folder-item.open .col-sm:nth-child(1) span{
    margin-left:1.35rem;
}

#documentDropzone{
    text-align:center;
    padding: 4rem !important;
    border: dashed 1px #000 !important;
    cursor: pointer;
}

.documents hr:last-of-type {
    display: none;
}

/*
* Overall changes
*/
.modal-lg{
    max-width: 75%;
}

#docViewerModal img{
    max-width:100%;
}